Node-RED flow.json
[{"id":"69c92115.a0b43","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"afd8f8f.1f05008","type":"ibmiot in","z":"69c92115.a0b43","authentication":"apiKey","apiKey":"9f570b96.7a34c8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":180,"wires":[["3e99ad21.4cdfe2"]]},{"id":"3e99ad21.4cdfe2","type":"debug","z":"69c92115.a0b43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":200,"wires":[]},{"id":"27c57065.c296e","type":"ui_button","z":"69c92115.a0b43","name":"","group":"bdf7762b.dfcd78","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":340,"wires":[["b5bfa074.c5aaf"]]},{"id":"b5bfa074.c5aaf","type":"http request","z":"69c92115.a0b43","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://07abcd4a-109f-4cbe-960f-fb557187a4af-bluemix.cloudant.com/animaldetection/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":360,"y":340,"wires":[["b1be3647.d7a048"]]},{"id":"b1be3647.d7a048","type":"function","z":"69c92115.a0b43","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["24ef8e29.1deeb2","8170cf0b.61455"]]},{"id":"8170cf0b.61455","type":"ui_template","z":"69c92115.a0b43","group":"bdf7762b.dfcd78","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":500,"wires":[[]]},{"id":"24ef8e29.1deeb2","type":"debug","z":"69c92115.a0b43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":380,"wires":[]},{"id":"9f570b96.7a34c8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"bdf7762b.dfcd78","type":"ui_group","z":"","name":"animaldetection","tab":"a8472298.503","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8472298.503","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]